.modal-convert-btn {
  h1 {
    color: #fff;
    text-align: center;
    font-size: 22px;
  }
  p {
    color: #fff;
    text-align: center;
    font-size: 14px;
    width:280px
  }
  .v-btn{
    color: #fff;
    font-size:13px;
  }
}
