.tutorials {
  h1 {
    font-weight: bold;
    font-size: 35px;
    line-height: 55px;
    color: #fff;
  }
  div {
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    color: #fff;
  }
  .v-btn {
    background: #4CB163 !important;
    color: #fff !important;
  }
}

.tutorial-background{
  padding-top: 70px;
  background-color: #013E2F;
}

.tutorial-container {
  max-width: 90%;
}

.frog-container {
  position: relative;
  z-index: 0;
}

.tutorial-steps {
  margin-top: 1em;
}

.tutorial-step-image {
  z-index: 1 !important;
}

.tutorial-step-title {
  margin-bottom: 1em;
}

.tutorial-step-number {
  color: #fff;
  border-radius: 50%;
  width: 51px;
  height: 51px;
  display: inline-block;
  text-align: center;
  margin-right: 1em;
}

.tutorial-step-description {
  color: #fff;
  font-size: 25px;
  line-height: 30px;
  z-index: 1 !important;
}

.tutorial-frog {
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 800px;
}

.hidden {
  display: none;
}
