.borrow-repay {
  background-color: #013e2f !important;

  .theme--light.v-btn.v-btn--disabled.v-btn--has-bg {
    background-color: #D9CFC9 !important;
    color: #fff !important;
  }
  .button {
    width: 60%;
    .v-btn {
      color: #fff !important;
      text-transform: none;
      font-size: 24px !important;
      letter-spacing: 0 !important;
      height: 40px !important;
    }
    .v-btn:hover {
      font-weight: bold !important;
    }
    .button-save {
      border-bottom: 2px solid #fff !important;
    }
    .button-withdraw-click {
      border-bottom: 2px solid #fff !important;
    }
    .v-btn__content {
      color: #fff !important;
      font-weight: bold !important;
    }
  }

  .cualquiera {
    height: 85%;
    width: 90%;

    h1, h2, p {
      color: #fff;
    }
    h1 {
      font-size: 32px;
    }
    h2 {
      font-size: 28px;
      font-weight: 700;
    }
    p {
      font-size: 14px;
      margin: 0;
      span{
        font-style: italic;
        font-weight: 400;
      }
    }
    .v-divider {
      border-top: 2px solid #BAB9B9;
    }
    .collateral-chart {
      width: 322px;
      height: 234px;
      border: 1px solid #405A50;
      border-radius: 10px;
      background: #225948;
    }
    .risk-charts {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 322px;
      height: 264px;
      border: 1px solid #FFFFFF;
      border-radius: 10px;
      .risk{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
          }
      .risk-graph {
        position: relative !important;
        // top: 0;
        display: flex;
        justify-content: center;
      }
      .risk-img {
        position: absolute !important;
        // left: 44%;
        // bottom: 56%;
        top: 34%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .risk-title {
        display: flex;
        justify-content: center;
        margin-bottom: 6px !important;
        h3 {
          color: #FFFFFF;
          font-size: 14px;
          text-transform: uppercase;
        }
      }
      .risk-description {
        display: flex;
        justify-content: center;
        text-align: center;
      }
    }
    input {
      outline: none; 
      height: 62px;
      width: 100%;
      background: #225948;
      border-radius: 5px;
      font-weight: bold;
      font-size: 40px;
      caret-color: #D9CFC9;
      color: #FFFFFF;
      &::placeholder{
        margin-left: 2rem;
        font-size: 20px;
        color: #A3B8A7;
        text-align: right;
        visibility: visible;
      }
    }

    .v-slider {
      .v-messages.theme--light{
        min-height: 0;
      }
    }

  }
//   img {
//     height: 35px;
//     width: 35px;
//     margin: 10px 10px 0 0;
//   }
//   .modal-container {
//     width: 120px;
//     color: #fff;
//   }
//   .modal-container-img {
//     width: 150px;
//     color: #fff;
//   }
//   .modal-line {
//     border: 0.5px solid #bab9b9;
//     width: 85%;
//   }
//   .title-modal-rate {
//     line-height: 18px;
//   }
//   .modal-rate {
//     font-size: 28px;
//   }
//   .v-text-field {
//     width: 85% !important;
//   }
//   .v-btn {
//     color: #fff !important;
//     text-transform: none;
//     font-size: 18px;
//     letter-spacing: 0px;
//   }
//   .modal-contain-subtitle {
//     color: #fff;
//     width: 85%;
//     font-size: 15px;
//   }
//   .modal-icon {
//     display: flex;
//     width: 160px;
//   }
//   .modal-icon-click {
//     margin-left: 40px;
//   }
//   .p-italic {
//     font-style: italic;
//     width: 120px;
//   }
//   .p-bold {
//     font-weight: bold;
//   }
//   .p-name {
//     font-size: 18px;
//     height: 20px;
//   }
//   .p-name-data {
//     font-size: 17px;
//     height: 18px;
//   }
//   .icon-borrow {
//     width: 70px;
//   }
//   .warning-contain {
//     width: 100%;
//   }
//   .p-warning {
//     color: #fff;
//     font-size: 14px;
//   }
}
