.card{
  img{
    height:30px;
  }
  h1{
    font-weight: bold;
    font-size: 20px;
    line-height: 55px;
  }
  h2{
    color: #FFF;
    font-size:15px;
  }
  p{
    color: #FFF;
    font-size:10px;
    margin:0;
  }
  .anual-rate{
    margin-right:12px;
  }
  .card-line{
    width: 92%;
    height: 0px;
    border: 0.5px solid #BEBEBE;
  }
  .v-btn{
    margin-right:12px;
    height: 25px !important;
    color: #FFF;
    text-transform: none;
  }
}