.market-card{
  h1{
    font-weight: bold;
    font-size: 30px;
    line-height: 45px;
    letter-spacing: -0.5px;
  }
  h2{
    color: #FFF;
    font-size:15px;
  }
  p{
    color: #FFF;
    font-size:11px;
    margin: 0;
  }
  .v-btn {
    color: #fff;
  }
}
