
body{
  background-color: $secondary-color;
}
.container-app{
  flex: 1;
  width: 100%;
}
.navbar-vue{
  padding-top: 54px;
  margin-right: 42px;
}
.box-shadow-tooltip{
  box-shadow: 0px 10px 30px rgba(52, 52, 52, 0.1) !important;
}
.card-item{
  background: #E1F0E8 !important;
  box-shadow: 0px 10px 30px rgba(52, 52, 52, 0.1) !important;
  border-radius: 20px !important;
  margin: 17px 12px;
  padding: 31px 33px 28px 32px !important;
  img{
    width: 31px;
    height: 31px;
    margin-top: 13px;
  }
}
.tab{
  cursor: pointer;
}
// .card-item:nth-child(1){
//   margin-left: 0;
// }
// .card-item:nth-child(4){
//   margin-right: 0;
// }

.theme--light.v-list {
  // background: $primary-bg !important;
  color: rgba(0, 0, 0, 0.87);
}

.primary-color{
  background-color: $primary-color !important;
}
.secondary-color{
  background-color: $secondary-color !important;
}
.warning-color{
  background-color: $warning-color !important;
}
.primary-bg{
  background-color: $primary-bg;
}
.secondary-bg{
  background-color: $secondary-bg;
}
//=======================
//  input select textarea
//=======================
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
}
input[type=number]::-webkit-input-placeholder { color: #63A47B !important; } 
input[type=number]:-moz-placeholder { /* Firefox 18- */ color: #63A47B ; } 
input[type=number]::-moz-placeholder { /* Firefox 19+ */ color: #63A47B ; } 
input[type=number]:-ms-input-placeholder { color: #63A47B ; }
.input-box{
  box-sizing: border-box;
  height: 48px;
  width: 467px;
  border-radius: 5px;
  // .v-input__slot{
    // height: 45px;
  // }
  .v-messages__message{
    margin-top: 8px;
    color: $third-color !important;
  }
  button{
    position: relative;
    top: 4px;
  }
  &.alert{
    border: 2px solid #F7C61A;
  }
}

.select-box{
  width: 186px;
  height: 62px;
  border-radius: 5px;
  .selected-item{
    height: 62px;
    img{
      width: 30px;
      height: 30px;
    }
  }
  .selected-item{
    position: relative;
    .select-icon{
      position: absolute;
      right: 16px;
      top: 25px;
      width: 21px;
      height: 11px;
      color: $primary-color;
    }
  }
}
//select box
.v-menu__content{
  .select-menu-item{
    width: 186px;
    height: 62px;
  }
  .active{
    background-color: #CDE9DA;
  }
  img{
    width: 30px;
    height: 30px;
  }
}

.theme--light.v-list {
  color: rgba(0, 0, 0, 0.87);
  background-color: $secondary-color;
}

.select-img{
  width: 28px !important;
  height: 28px !important;
  margin-right: 10px;
}

.invalid {
  border: 1px solid #66433b!important;
}

//=======================
//  Button
//=======================
.btn {
  width: 237px;
  height: 43px !important;
  border-radius: 20px;
}
.btn-action{
  width: 590px;
  height: 33px !important;
  border-radius: 20px;
}

.btn-info{
  border: 1px solid $third-color;
  color: $third-color;
}

.btn-primary{
  background: $primary-color !important;
  border: 1 solid $primary-color;
}

.btn-secondary{
  border: 1px solid $primary-color;
  background: transparent;
  color: $primary-color !important;
}
.btn-wallet{
  width: 294px;
  height: 52px !important;
  box-shadow: 0px 10px 15px rgba(52, 52, 52, 0.1);
  border-radius: 10px;
  background: $btn-wallet;
}

//=======================
//  text
//=======================

.text-primary{
  color: $primary-color !important;
}
.text-secondary{
  color: $secondary-color !important;
}
.text-info{
  color: $third-color !important;
}
.text-detail{
  color: $text-detail !important;
}
.text-inactive{
  color: #ABD1B4 !important;
}

//=======================
//  mixins
//=======================

@include desktop() {
  .btn {
    width: 195px;
    height: 28px !important;
  }
  .btn-action{
    width: 467px;
    height: 33px !important;
  }
  .navbar-vue{
    padding-top: 15px;
    margin-right: 29px;
  }
  .select-box{
    height: 48px;
    .selected-item{
      position: relative;
      height: 48px;
      img{
        width: 26px;
        height: 26px;
      }
      .select-icon{
        right: 18px;
        top: 20px;
        width: 21px;
        height: 11px;
        color: $primary-color;
      }
    }
  }
  .v-menu__content{
    .select-menu-item{
      height: 48px;
    }
    img{
      width: 26px;
      height: 26px;
    }
  }
  .card-item{
    padding: 25px 20px 28px 24px !important;
    img{
      margin-top: 2px;
    }
  }
}

@include tablet(){
  .card-item{
    width: 180px !important;
    height: 187px !important;
    padding: 25px 24px 28px 24px !important;
    img{
      width: 25px;
      height: 25px;
      margin-top: 5px;
    }
  }
  .btn-action{
    width: 335px;
    height: 36px !important;
  }

  .select-box{
    width: 155px;
    height: 43px;
    .selected-item{
      height: 43px;
      img{
        width: 22px;
        height: 22px;
      }
      .select-icon{
        right: 15px;
        top: 17px;
        width: 13px;
        height: 7px;
      }
    }
  }

  .v-menu__content{
    width: 155px !important;
    .select-menu-item{
      height: 48px;
    }
    img{
      width: 26px;
      height: 26px;
    }
  }
  .input-box{
    width: 335px;
    height: 45px;
    border-radius: 5px;
    // .v-input__slot{
    //   height: 45px;
    // }
    button{
      position: relative;
      top: 2px;
    }
  }
}

//=======================
//  scroll
//=======================
/* custom scroll bar */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: $secondary-color; 
}
::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.6);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}