.borrow-deposit-view{
  // width: 100%;
  // flex: 1;
  max-width: 940px;
  margin: 0 auto;
  .text-description{
    width: 687px;
    text-align: center;
  }
  .h2-heading {
    margin-top: 68px;
  }
  .h3-sections-heading{
    margin: 100px 0 17px 20px;
  }
  .actions-bottons{
    margin-top: 28px;
  }
  @include desktop() {
    .h2-heading {
      margin-top: 36px;
    }
    .h3-sections-heading{
      margin: 70px 0 17px 20px;
    }
    .actions-bottons{
      margin-top: 13px;
    }
  }
  @media screen and (max-width: 1175px){
    max-width: 700px;
    .text-description{
      width: 600px;
    }
  }
  @include tablet(){
    max-width: 617px;
    // max-width: content;
    .text-description{
      width: 500px;
    }

  }
}

.deposit{
  max-width: 762px;
  margin: 0 auto 100px auto;
  .h2-heading {
    margin: 40px 0 46px 0px;
  }
  .text-deposit{
    display: inline-block;
    padding-bottom: 6px;
    border-bottom: 1px solid $text-detail;
  }
  .divider{
    width: 911px;
    margin: 86px auto 71px auto;
  }
  .deposit-slider{
    width: 463px;
    height: 30px;
  }
  .text-rate{
    width: 135px;
  }
  .tooltip-info{
    width: 12px;
    height: 12px;
  }
  .box-number{
    max-width: 221px;
    word-wrap: break-word;
  }

  @include desktop() {
    .divider{
      width: 847px;
      margin: 49px auto 51px auto;
    }
    .deposit-slider{
      width: 463px;
    }
  }

  @media screen and (max-width: 1175px){
    max-width: 715px;
    .box-number{
      max-width: 190px;
    }
  }

  @include tablet(){
    max-width: 552px;

    .deposit-slider{
      width: 335px;
      // height: 30px;
    }
    .box-number{
      max-width: 160px;
    }
  }

}