
.btn-close-dialog{
  position: absolute !important;
  right: 45px;
  top: 45px;
  color: $third-color;
  width: 11px;
  height: 11px;
  cursor: pointer;
}

.modal-connect-wallet{
  background: $secondary-color !important;
  border-radius: 30px !important;
  width: 414px;
  height: 593px;
}

.dialog-empty{
  background: $secondary-color !important;
  border-radius: 30px !important;
  width: 414px;
  height: 445px;
  padding: 62px;
  .h3-sections-heading{
    width: 203px;
  }
  .p1-descriptions{
    width: 287px;
    margin: 60px 0 40px 10px;
  }
}

.dialog-change-btc{
  background: $secondary-color !important;
  border-radius: 30px !important;
  width: 414px;
  height: 586px;
  padding: 87px 63px 60px 60px;
  .h3-sections-heading{
    margin-bottom: 30px;
  }
  .subtitle-1{
    width: 291px;
    height: 62px;
  }
  .divider{
    width: 290px;
    margin: 40px auto 33px auto;
  }
}

.d-loading{
  width: 500px !important;
  height: 600px !important;
}
.dialog-loading{
  width: 500px !important;
  height: 600px !important;
  background-image: url('../assets/dialog/background.svg');
  background-size: cover;
  border-radius: 10px !important;

  .text-description{
    width: 292px;
    text-align: center;
  }
  .text-deposit{
    width: 150px;
    text-align: center;
    margin: 25px 0 50px 0;
  }
  .btn-close-dialog{
    top: 25px;
    right: 30px;
    width: 11px;
    height: 11px;
  }
  .progress-loading{
    width: 150px !important;
    height: 150px !important;
    font-size: 100px;
  }
  .feedback {
    .feedback-title {
      color: $text-detail;
      font-size: 15px;
      line-height: 17px;
      letter-spacing: 0.3px;
      font-weight: 400;
    }
    .feedback-paragraph {
      color: $third-color;
      font-size: 11px;
      line-height: 12px;
      font-weight: 300;
    }
  }
}
.d-tutorial{
  max-width: 700px !important;
  height: 500px !important;

}
.dialog-tutorial{
  max-width: 700px;
  height: 500px;
  display: flex;
  justify-content: center;
  iframe{
    width: 600px;
    height: 400px;
    margin: 0 auto;
    align-self: center;
    border-radius: 10px;
  }
  .btn-close-dialog{
    top: 25px;
    right: 25px;
  }
}

.d-transfer{
  width: 537px !important;
  height: 609 !important;
}
.dialog-transfer{
  width: 537px;
  height: 609px;
  .transfer-img{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    img{
      margin: 13px 20px;
    }
  }
  .content-transfer{
    width: 419px;
    padding-top: 58px;
    margin: 0 auto;
    text-align: center;
  }
  .divider{
    border: 1px solid #51C1AF;
    margin: 18px 0 50px 0;
  }
  .transfer-description{
    text-align: left;
    .d-flex{
      margin-bottom: 25px;
    }
    img{
      width: 22px;
      height: 22px;
    }
  }
  .h2-heading {
    font-size: 18px;
    line-height: 20px;
    color: #196635 !important;
  }
  &.p1-descriptions{
    line-height: 12px;
  }
}
.d-pioneer{
  width: 703px !important;
  height: 412px !important;
}
.dialog-pioneer{
  width: 703px;
  height: 412px;
  position: relative;
  border-radius: 12px;
  img{
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .pioneer-content{
    position: relative;
    text-align: center;
    color: white;
    z-index: 200;
    width: 335px;
    height: 100%;
    margin: 0 auto;
    padding-top: 44px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    &.v2{
      position: relative;
      width: 560px;
      height: 412px !important;
      .p1-descriptions{
        width: 296px;
        margin: 0 auto;
      }
    }
    .checkbox{
      text-align: center;
      margin: 0 auto;
      .theme--light.v-icon {
        color: white;
      }
      .v-label{
        color: white;
      }
    }
    .h1-title{
      font-size: 28px !important;
    }
    .btn{
      width: 112px;
      height: 19px !important;
    }
    a{
      display: inline-block;
      text-decoration: none;
      width: 183px;
      height: 20px;
      box-sizing: border-box;
      border-radius: 15px;
      padding: 2px;
      text-align: center;
      margin: 0 auto 64px auto;
      bottom: 0;
    }
    .b2-secondary{
      font-size: 11px;
    }
  }
}

.feedback-dialog {
  .content-card {
    background-color: $btn-wallet;
  }
  .primary-title {
    color: $text-detail;
    font-size: 20px;
    line-height: 22px;
    font-weight: 400;
  }
  .secondary-title {
    color: $text-detail;
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
  }
  .primary-paragraph {
    color: $third-color;
    font-size: 11px;
    line-height: 12px;
    font-weight: 300;
  }
  .secondary-paragraph {
    color: $third-color;
    font-size: 9px;
    line-height: 11px;
    font-weight: 300;
  }
  .choose-option-button {
    cursor: pointer;
    border-radius: 10px;
    color: $text-value;
    font-size: 11px;
    line-height: 13px;
    font-weight: 400;
    padding: 14px 80px;
  }
  .custom-textarea {
    border-radius: 10px;
    width: 100%;
    background-color: $primary-bg;
    color: $text-bg;
    outline: none;
    resize: none;
    font-size: 11px;
    line-height: 12px;
    padding: 11px 19px 6px 19px;
  }
  .email-textarea {
    height: 35px;
  }
  .problem-textarea {
    min-height: 92px;
  }
}

@include desktop(){
  .d-loading{
    width: 414px !important;
    height: 490px !important;
  }
  .dialog-loading{
    width: 414px !important;
    height: 490px !important;
    .text-description{
      width: 200px;
      text-align: center;
    }
    .text-deposit{
      width: 150px;
      text-align: center;
      margin: 25px 0 50px 0;
    }
    .progress-loading{
      width: 100px !important;
      height: 100px !important;
      font-size: 100px;
    }
  }
  
}