.landing{
  width:100%;
  height:100%;
  background-image: url("../assets/landing-page.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .landing-container {
    margin: 140px 0 0 130px;
  }

  .landing-title{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 73px;
    color: #FFFFFF;
    margin: 39px 0 0 52px;
  }
  h1{
    font-weight: bold;
    font-size: 40px;
    line-height: 45px;
    color: #FFFFFF;
  }
  h2{
    font-weight: 400;
    font-size: 25px;
    line-height: 28px;
    color: #FFFFFF;
  }
  span {
    font-size: 25px;
    line-height: 56px;
    color: #FFFFFF;
  }
}
