.landing {
  h1 {
    font-weight: bold;
    font-size: 35px;
    line-height: 55px;
    color: #fff;
  }
  .menu-selected {
    border-bottom: 2px solid #fff !important;
  }
  .button {
    .v-btn {
      color: #fff !important;
      font-size: 24px !important;
      height: 40px !important;
    }
    .v-btn:hover {
      font-weight: bold !important;
    }
    .button-save {
      border-bottom: 2px solid #fff !important;
    }
    .button-borrow-click {
      border-bottom: 2px solid #fff !important;
    }
  }
}
