.left-bar {
  position: absolute;
  top: 112px;
  background-color: #023f30;
  width: 80px;
  height: 640px;
  border-radius: 0 10px 10px 0;

  .custom-spacer {
    height: 50px;
  }

  .v-btn {
    background-color: transparent !important;
    &:focus, &:visited, &:active, &:hover, &.selected {
      background-color: rgba(163, 197, 171, 0.5) !important;
    }
  }

  h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    color: #FFF;
  }

}
