.left-bar {
  position: absolute;
  top: 20%;
  background-color: #023f30;
  width: 80px;
  height: 450px;
  border-radius: 0 10px 10px 0;

  .v-btn {
    background-color: transparent !important;
    &:focus, &:visited, &:active, &:hover {
      background-color: rgba(163, 197, 171, 0.5) !important;
    }
  }
}
