.left-bar {
  width:254px !important;
  height: 100vh !important;
  z-index: 200;
  .logo-tropykus{
    margin: 40px 0 0 12px;
    width: 137px;
    height: 31px;
  }
  .left-bar-content{
    width:254px !important;
    height: 100vh !important;
    border-radius: 0px 30px 30px 0px;
    position: fixed;
  }
  .list-left-bar{
    margin-top: 50px;
  }
  .left-list-item{
    width: 195px !important;
    height: 48px !important;
    margin-bottom: 8px;
    a{
      text-decoration: none;
      width: 195px;
      height: 48px;

      &.active.router-link-exact-active{
        background: #45AA5C;
      }
    }
    img{
      width: 24px;
      height: 24px;
    }
    // .router-link-active{
    //   a{
    //     width: 187px;
    //     height: 48px;
    //   }
    // }
  }
  .divider {
    background-color: #fff; 
    width: 187px; 
    margin: 61px auto 24px auto;
  }
  .price-btc{
    margin-bottom: 64px;
  }
  .btn-description{
    min-width: 120px;
  }
  .contact-tropykus{
    margin-top: 24px;
  }

  @include desktop() {
    width: 234px !important;
    height: 100vh !important;
    .left-bar-content{
      width: 234px !important;
      height: 100vh !important;
      border-radius: 0px 10px 10px 0px;
      position: fixed;
    }
    .divider{
      margin: 10px auto 24px auto;
    }
    .btn-description{
      min-width: 110px;
    }
    .v-image{
      width: 28px !important;
      height: 28px !important;
    }
    .logo-tropykus{
      width: 133px !important;
      height: 31px !important;
      margin-top: 20px !important;
    }
    .list-left-bar{
      margin-top: 5px;
    }
    .left-list-item{
      margin-bottom: 0px !important;
      button{ 
        height: 46px !important;
      }
    }
    .price-btc{
      margin-bottom: 10px;
      img{
        width: 30px;
        height: 30px;
      }
    }
    .contact-tropykus{
      margin-top: 30px;
      .v-image{
        width: 30px !important;
        height: 30px !important;
      }
    }
  }
  @include tablet(){
    // .left-bar-content{
    //   // display: none;
    //   // position: fixed;
    // }
  }
  /* custom scroll bar */
  ::-webkit-scrollbar {
    width: 5px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: $primary-color; 
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0.4);
  }
}
