
.metrics{
    .p1-descriptions{
        font-size: 14px;
        line-height: 15px;
    }
}
.market-description {
    margin-top: 30px;
    color: #FFFFFF;

    .market-table-head{
        margin-top: 33px;
        display: flex;
        justify-content: space-between;
        align-content: center;
        padding: 0 114px;
        .title-head{
            font-size: 14px;
            color: #FFFFFF;
            // width: 65px;
            display: flex;
            justify-content: center;
            height: 29px;
        }
    }
    .line-market{
        // position: relative;
        width: 600px;
        height: 0px;
        margin: 31px  0 54px 42px;
        // top: 546px;

        // border: 1px solid #BEBEBE;
        border-top: 1px solid #BEBEBE;
    }

    .market-table-content{
        display: flex;
        justify-content: space-between;
        margin: 0 0 40px 0;
        color: #FFFFFF;
        .market{
            display: flex;
            margin-left: 50px;
            img{
                width: 40px;
                height: 40px;
            }
            .market-info{
                margin-left: 24px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                font-size: 14px;
                .name{
                    font-weight: 900;
                    line-height: 1;
                }
            }
        }
        .description{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            font-size: 14px;
            margin-right: 114px;
            padding-left: 10px;
            // text-align: center;
            .coin{
                font-weight: 900;
                line-height: 16.8px;
            }
            .usd{
                font-style: italic;
            }
        }
    }

}