.validation-dialog {
  height:450px;
  h1{
    color: #013E2F;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    width: 200px;
  }
  p{
    font-size: 18px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    width:250px;
  }
}
