#modal-open{
    background-color: #4CB163 !important;
    border-radius: 5px;
    font-size: 30px;
    color: #FFFFFF;
    padding: 0px;
    text-transform: none;
}
#modal-botton{
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;
    font-weight: bold;
    font-size: 30px;
    color: #FFFFFF;
    background-color:transparent;
}
#card{
    width: 543px;
    height: 640px;
    background-image: url("../assets/modal.jpg");
}
#card:before {
	background-color: rgba(1,62,47,0.7);
}
#modal-title {
    font-weight: bold;
    font-size: 35px;
    line-height: 34px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}
#modal-text {
    font-weight: 400;
    font-size: 25px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    padding:0px;
}
.modal-img{
    width:91.29px;
    height:88.86px;
    position: absolute;
    top: 72px;
    left:224.96px;
}
