.modal-connect-wallet {
  background-color: #013e2f !important;
  padding: 36px 72px 36px 72px;
  .v-btn {
    background-color: rgba(163, 197, 171, 0.3) !important;
    width: 100%;
    height: 90px !important;
    border-radius: 10px;
    margin: 4px;
    text-transform: none !important;
    letter-spacing: 0;
  }
  a {
    text-decoration: none !important;
    color: #FFF !important;
  }
  .subtitle {
    font-size: 10px;
  }
}
