.modal-convert-btn {
  background-color: #013e2f !important;
  h1 {
    color: #fff;
    text-align: center;
    font-size: 22px;
}
p {
    color: #fff;
    text-align: center;
    font-size: 14px;
    width:280px
  }
  .v-btn{
      text-transform: none !important;
      color: #fff;
      font-size:13px;
      letter-spacing: 0px;
  }
  .button-continue{
      border: 1px solid #fff !important;
  }
}
