.modal-connect-wallet {
  background-color: #013e2f !important;
  .v-btn {
    background-color: rgba(163, 197, 171, 0.3) !important;
    width: 100%;
    height: 90px !important;
    border-radius: 10px;
    margin: 4px;
    text-transform: none !important;
    letter-spacing: 0;
  }
  h1 {
    color: #fff;
    font-size: 24px;
    font-weight: 400;
  }
  img {
    margin-bottom: 5px;
  }
  p {
    color: #adc2bb;
    width: 80px;
    font-size: 14px;
    margin: 0;
    display: flex;
    justify-content: center;
  }
  a {
    color: #fff !important;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none !important;
  }
  h3 {
    color: #fff;
    font-size: 12px;
  }
  .subtitle {
    font-size: 10px;
  }
}
