
.navbar{
  background-color:rgba(1, 62, 47, 0.85);
  height:120px;
;
  .navbar-title{
    font-family: 'Montserrat', sans-serif;
    color: #FFF;
    font-weight: 600;
    font-size: 60px;
    line-height: 73px;
  }
  button{
    background-color: rgba(0, 0, 0, 0);
    font-size: 22px;
    line-height: 20px;
    color: #FFFF;
    letter-spacing:0px;
  }
 
  .navbar-button {
    color:#FFFF;
    height: 40px !important;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 10px;
    text-transform: none;
  }
}