.dialog-data-card{
  background-color: #013E2F!important;
  h1{
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    width: 200px;
  }
  p{
    font-size: 18px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    width:300px;
  }
  .dialog-data-botton{
    background-color:transparent !important;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    line-height: 76px;
    border: 2px solid #FFFFFF;
    height:50px !important;
  }
  @media (max-width: 600px){
    h1{
      line-height: 23px;
    }
    p{
      width: 240px;
      font-size: 15px;
    }
    .v-btn{
      width: 250px!important;
    }
  }
}


