@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

div, p, h1, h2, h3, h4, h5, h6, body, button {
  font-family: 'Lato', sans-serif;
  font-style: normal;
}

.v-btn {
  text-transform: none !important;
  letter-spacing: normal !important;
}

.crop-card {
  border-radius: 10px 10px 0 0 !important;
  width: 240px !important;
  height: 42px !important;
  background-color: #013E2F !important;
  display: flex;
  align-items: center;
  h1 {
    font-weight: bold !important;
    font-size: 15px !important;
    line-height: 18px !important;
    color: #fff !important;
  }
}

.boldie {
  font-weight: bold !important;
}

.italique {
  font-style: italic !important;
}

.whiteish {
  color: #fff !important;
}
