@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

div, p, h1, h2, h3, h4, h5, h6, body, button {
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
}



.v-btn {
  text-transform: none !important;
  letter-spacing: normal !important;
}

.crop-card {
  border-radius: 10px 10px 0 0 !important;
  width: 240px !important;
  height: 42px !important;
  background-color: #013E2F !important;
  display: flex;
  align-items: center;
  h1 {
    font-weight: bold !important;
    font-size: 15px !important;
    line-height: 18px !important;
    color: #fff !important;
  }
}

.float-right {
  position: absolute;
  right: 10px;
  top: 10px
}

.boldie {
  font-weight: bold !important;
}

.italique {
  font-style: italic !important;
}

.whiteish {
  color: #fff !important;
}

.redish {
  color: #fff !important;
}

.h2-heading {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 34px;
  color: #FFFFFF;
}

.h3-sections-heading {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
}

.p1-descriptions {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 15px;
  color: #FFFFFF;
  margin: 0 !important;
}

.p2-reading-values {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 32px;
  color: #FFFFFF;
  margin: 0 !important;
}

.p3-USD-values{
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  margin: 0 !important;
}

.p5-feedback {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 13px;
  color: #FFFFFF;
}

.p6-reading-values {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  margin: 0 !important;
}

.b1-main {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 22px;
  color: #FFFFFF;
}