.tx-summary {
  padding: 100px;
  h1 {
    font-weight: bold;
    font-size: 22px;
    line-height: 20px;
    color: #FFFFFF;
  }
  h2 {
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
  }
  p {
    margin-bottom: 0;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    color: #FFFFFF;
  }
  .border {
    border: 0.5px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;
  }
}
