.user-action {
  background-color: #013e2f !important;
  padding: 0 80px 80px 80px;
  .theme--light.v-btn.v-btn--disabled.v-btn--has-bg {
    background-color: #405A50 !important;
    color: #fff !important;
  }
  .button {
    .v-btn {
      color: #fff !important;
      text-transform: none;
      font-size: 24px !important;
      letter-spacing: 0 !important;
      height: 40px !important;
    }
    .v-btn:hover {
      font-weight: bold !important;
    }
    .button-save {
      border-bottom: 2px solid #fff !important;
    }
    .button-withdraw-click {
      border-bottom: 2px solid #fff !important;
    }
  }
  .valid {
    background: #275832 !important;
  }
  .invalid {
    background: #66433B !important;
  }
  .input-box {
    border-radius: 5px;
    background: #405A50;
    height: 62px;
    .theme--dark.v-input input, .theme--light.v-input textarea {
      color: #FFF !important;
    }
    .theme--dark.v-text-field--solo > .v-input__control > .v-input__slot {
      background: transparent !important;
      font-style: normal !important;
      font-weight: bold !important;
      font-size: 40px !important;
      line-height: 46px !important;
    }
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    /* Firefox */
    input[type=number] {
      -moz-appearance: textfield;
    }
  }
  .simple-input {
    .theme--dark.v-text-field--solo > .v-input__control > .v-input__slot {
      background: #405A50 !important;
    }
    .theme--dark.v-input input, .theme--light.v-input textarea {
      color: #E5E5E5 !important;
      background: #405A50 !important;
    }
  }
  .v-slider--horizontal {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}