.withdraw-size {
  width: 680px !important;
  max-height: 90%
}
.borrow-size {
  width: 1004px !important;
  max-height: 90%
}
.user-action {
  background-color: #013e2f !important;
  padding: 25px 65px 50px 65px;

  .theme--light.v-btn.v-btn--disabled.v-btn--has-bg {
    background-color: #405A50 !important;
    color: #fff !important;
  }
  .slider-container{
    margin-top: 26px ;
    h1, h2, p {
      color: #fff;
    }
    h1 {
      font-size: 32px;
    }
    h2 {
      font-size: 28px;
      font-weight: 700;
    }
    p {
      font-size: 14px;
      margin: 0;
      span{
        font-style: italic;
        font-weight: 400;
      }
    }
    .v-divider {
      border-top: 2px solid #BAB9B9;
    }
    .collateral-chart {
      width: 322px;
      height: 234px;
      border: 1px solid #405A50;
      border-radius: 10px;
      background: #225948;
    }
    .risk-charts {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin-top: 18px;
      width: 322px;
      height: 251px;
      border: 1px solid #FFFFFF;
      border-radius: 10px;
      .risk{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
          }
      .risk-graph {
        position: relative !important;
        // top: 0;
        display: flex;
        justify-content: center;
      }
      .risk-img {
        position: absolute !important;
        // left: 44%;
        // bottom: 56%;
        top: 34%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .risk-title {
        display: flex;
        justify-content: center;
        margin-bottom: 6px !important;
        h3 {
          color: #FFFFFF;
          font-size: 14px;
          text-transform: uppercase;
        }
      }
      .risk-description {
        display: flex;
        justify-content: center;
        text-align: center;
      }
    }

    .v-slider {
      .v-messages.theme--light{
        min-height: 0;
      }
    }

  }
  .button {
    .v-btn {
      color: #fff !important;
      text-transform: none;
      font-size: 24px !important;
      letter-spacing: 0 !important;
      height: 40px !important;
    }

    .v-btn:hover {
      font-weight: bold !important;
    }

    .button-save {
      border-bottom: 2px solid #fff !important;
    }

    .button-withdraw-click {
      border-bottom: 2px solid #fff !important;
    }
  }

  .valid {
    background: #275832 !important;
  }

  .invalid {
    background: #66433B !important;
  }

  .custom-spacer {
    height: 160px;
  }

  .input-box {
    border-radius: 5px;
    background: #405A50;
    height: 62px;

    .theme--dark.v-input input, .theme--light.v-input textarea {
      color: #FFF !important;
    }

    .v-text-field.v-text-field--enclosed .v-text-field__details {
      padding: 0 !important;
    }

    .theme--dark.v-text-field--solo > .v-input__control > .v-input__slot {
      background: transparent !important;
      font-style: normal !important;
      font-weight: bold !important;
      font-size: 40px !important;
      line-height: 46px !important;
    }

    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    input[type=number] {
      -moz-appearance: textfield;
    }

    .v-messages__message {
      color: #FFF !important;
      font-size: 10px !important;
      line-height: 11px !important;
    }
  }

  .simple-input {
    .theme--dark.v-text-field--solo > .v-input__control > .v-input__slot {
      background: #405A50 !important;
    }

    .theme--dark.v-input input, .theme--light.v-input textarea {
      color: #E5E5E5 !important;
      background: #405A50 !important;
    }
  }

  .v-slider--horizontal {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
