@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
//font
$primary-font: 'Ubuntu', sans-serif;

//colors
$primary-color: #47B25F;
$secondary-color: #E6F1EB;
$third-color: #053126;
$primary-bg: #CFE7DA;
$secondary-bg: #8AE39E;
$text-detail: #196635;
$btn-wallet: #E1F0E8;
// media queries
$phone: 600px;
$tablet: 990px;
$laptop: 1264px;
$desktop: 1904px;
